<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.drulabs.localdash">

    <uses-permission
        android:name="android.permission.INTERNET"
        android:required="true"/>

    <!-- WIFI Direct, Ethernet, Multicast- and Bonjour-Beacon -->
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="true"/>
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="true"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name="org.drulabs.example.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="org.drulabs.example.HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.drulabs.example.LocalDashNSD"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.drulabs.example.LocalDashWiFiDirect"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.drulabs.example.LocalDashWiFiP2PSD"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="org.drulabs.example.ChatActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
        </activity>

        <service
            android:name="org.drulabs.example.transfer.DataTransferService"
            android:enabled="true"/>
    </application>

</manifest>